* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2f2e2e;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: aqua;
}

.navbar h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3rem;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar ul li {
    cursor: pointer;
    font-weight: 500;
    color: #333;
    font-style: bold;
    transition: 0.3s;
}

.navbar ul li:hover {
    color: white;
    font-size: 1.90rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* MAIN SECTION */
.main {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 280px;
    background-color: #3d3838;
    padding: 25px;
}

.sidebar h2 {
    color: white;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    background-color: bisque;
    padding: 15px;
    margin-bottom: 25px;
}

.sidebar ul li {
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 500;
}

.sidebar ul li:hover {
    color: teal;
    transition: 550ms;
    font-size: 2rem;
}

.user-title {
    color: aqua;
}

.sidebar p {
    color: teal;
    font-size: 0.9rem;
    background-color: #2f2e2e;

}
.sidebar p:hover{

    font-size: 1.2rem;
    transition: 190ms;
    color: slategrey;
    background-repeat: repeat-x;
}

/* CONTENT AREA */
.content {
    flex: 1;
    background-color: #1f1f1f;
}
